{% extends "base-public.twig" %}

{% block title %}Login{% endblock %}

{% block body %}

              <h2 class="text-white-100 fw-bold mb-2 text-uppercase">Forgot Password?</h2>
              <p class="text-white-100 mb-5">Please enter your email address</p>

			<form action="" method="POST">
					   
					<div class="mb-5">
					  <label class="form-label" for="email">Email address</label>
					  <input type="email" class="form-control form-control-muted" id="email" name="email">
					</div>	
						
					  <br />	
						
							 
					  <button type="submit" class="btn btn-primary w-full">
						Reset
					  </button>

				</form>




{% endblock %}
