{% extends "base-public.twig" %}

{% block title %}Login{% endblock %}

{% block body %}

<section class="vh-100">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card bg-primary text-white" style="border-radius: 1rem;">
          <div class="card-body p-5 text-center">

            <div>
				<div class="row justify-content-center login-logo">
				<img src="/static/img/logo.png">
			</div>
		    <h2 class="text-white-100 fw-bold mb-2 text-uppercase">Register!</h2>
		    <p class="text-white-100 mb-5">Please enter your details below to register</p>

			<form action="" method="POST">
					   
				   
				{% include "Forms/Elements/text-email.html" with {
					'label' : 'Email Address',
					'id': 'email', 
					'name': "#{controller}[email]", 
					'description': 'User Email',
					'required': 'required',
				}%}							   
					   
				{% include "Forms/Elements/text.html" with {
					'label' : 'First Name',
					'id': 'firstName', 
					'name': "#{controller}[firstName]", 
					'description': 'First Name',
					'required': 'required',
				}%}	
			
				{% include "Forms/Elements/text.html" with {
					'label' : 'Last Name',
					'id': 'firstName', 
					'name': "#{controller}[lastName]", 
					'description': 'Last Name',
					'required': 'required',

				}%}					
					   
	
				<hr class="my-4">	
			
				{% include "Forms/Elements/text-password.html" with {
					'label' : 'Password',
					'id': 'password', 
					'strength': 'true',
					'name': "#{controller}[password]", 
					'description': 'Change your password',
				}%}		

				{% include "Forms/Elements/text-password.html" with {
					'label' : 'Password Confirm',
					'id': 'password-confirm', 
					'name': "#{controller}[password_confirm]", 
					'description': 'Confirm your password',
				}%}				
			  <button class="btn btn-outline-light btn-lg px-5" type="submit">Register</button>

				</form>

			<div class="row justify-content-center sub-logo">
				<img src="/static/img/sub-logo.png">
			</div>

            </div>

            <div>
              <p class="mb-0">Already have an account? <a href="/login" class="text-white-50 fw-bold">Login</a>
              </p>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>



{% endblock %}
