{% extends "base.html" %}

{% block title %}sales{% endblock %}

{% block body %}
	{% embed "Forms/form-base.html" with {'form_id': controller} %}

		{% block form_title %}
			{% if( id ) %}Editing{% else %}New{% endif %} {{ title }}
		{% endblock %}

		{% block form_subtitle %}
			{{ description }}
		{% endblock %}
		
		{% block form_body %}

			{% if( rat.id ) %}

				{% include "Notes/list.html" with {
					'notes': rat.notes,
					'type': "rat",
					'id': rat.id
				}%}	
				
				{% include "Forms/Elements/hidden.html" with {
					'id': 'id', 
					'name': "#{controller}[id]", 
					'readonly': 'readonly',
					'value': rat.id
				}%}
				
				<hr class="my-4">		

			{% endif %}

				{% include "Forms/Elements/image-uploader.html" with {
					'id': 'rat_images',
					'name': "#{controller}[image]", 
					'image': rat.image,
					'default': properties.DEFAULT_RAT_AVATAR,
					'label': 'Profile Photo',
					'description': 'Optional Images for this Rat'
				}%}		
			
			
				{% include "Forms/Elements/text.html" with {
					'label' : 'Registration Code',
					'id': 'code', 
					'name': "#{controller}[code]", 
					'description': 'Official Registration Code',
					'readonly': 'readonly',
					'value': rat.code
				}%}							
			
			{% if( rat.id ) %}
			
			{% endif %}	

			{% include "Forms/Elements/text.html" with {
				'label' : 'Name',
				'id': 'name', 
				'name': "#{controller}[name]", 
				'description': 'The Rats Pet Name',
				'value': rat.name
			}%}
						

			{% include "Forms/Elements/select.html" with {
				'label' : 'Status',		
				'id': 'status', 
				'name': "#{controller}[status]", 
				'description': 'Status of this Rat?',
				'required': 'required',
				'value': rat.status,
				'options': ratStatus				
			}%}					

			{% include "Forms/Elements/select.html" with {
				'label' : 'Gender',		
				'id': 'gender', 
				'name': "#{controller}[gender]", 
				'description': 'Gender of this Rat?',
				'required': 'required',
				'value': rat.gender,
				'options': genders		
			}%}		

			{% include "Forms/Elements/seperator.html" %}

			{% include "Forms/Elements/explainer.html" with {
				'title' : 'Birth Information',		
				'text': 'When a litter is selected, fields below will be auto-filled using information from the litter and breeder. 
				    When No Litter is selected, once saved, this information can be entered manually.' 			
			}%}				
			
			{% include "Forms/Elements/select.html" with {
				'label' : 'Litter',		
				'id': 'litter', 
				'name': "#{controller}[litter]", 
				'description': 'This Rats Litter?',
				'value': rat.litter.id,
				'options': litters			
			}%}				

			{% if( rat.litter.id ) %}
			
				{% include "Forms/Elements/select.html" with {
					'label' : 'Country of Origin',		
					'id': 'country', 
					'readonly' : 'readonly',
					'name': "#{controller}[country]", 
					'description': 'Country this rat Originated',
					'value': rat.litter.breeder.country,
					'options': countries			
				}%}		

			{% else %}

				{% include "Forms/Elements/select.html" with {
					'label' : 'Country of Origin',		
					'id': 'country', 
					'name': "#{controller}[country]", 
					'description': 'Country this rat Originated',
					'value': rat.country,
					'options': countries			
				}%}		
			
			{% endif %}

			{% if( rat.litter.id ) %}

				{% include "Forms/Elements/text-date.html" with {
					'label' : 'Date of Birth',	
					'id': 'date', 
					'readonly': rat.litter.id,				
					'name': "#{controller}[birthDate]", 
					'description': 'Date this litter was born',
					'required': 'required',
					'value' : rat.litter.birthDate				
				}%}		

			{% else %}
			
				{% include "Forms/Elements/text-date.html" with {
					'label' : 'Date of Birth',	
					'id': 'date', 
					'readonly': rat.litter.id,				
					'name': "#{controller}[birthDate]", 
					'description': 'Date this litter was born',
					'required': 'required',
					'value' : rat.birthDate				
				}%}		

			{% endif %}			
			
			{% include "Forms/Elements/seperator.html" %}

			{% if( rat.litter.id ) %}
		
				{% include "Forms/Elements/text.html" with {
					'label' : 'Father',
					'id': 'father', 
					'name': "#{controller}[none]", 
					'description': 'The Name of this rats Father',
					'readonly': 'readonly',
					'value': rat.litter.buck.Name
				}%}	

				{% include "Forms/Elements/text.html" with {
					'label' : 'Mother',
					'id': 'mother', 
					'name': "#{controller}[none]", 
					'description': 'The Name of this rats Mother',
					'readonly': 'readonly',
					'value': rat.litter.doe.Name
				}%}		
				
			{% else %}

				{% include "Forms/Elements/select.html" with {
					'label' : 'Father',		
					'id': 'buck', 
					'name': "#{controller}[buck]", 
					'description': 'Rats Father',
					'required': 'required',
					'value': rat.buck.id,
					'options': males			
				}%}		

				{% include "Forms/Elements/select.html" with {
					'label' : 'Mother',		
					'id': 'doe', 
					'name': "#{controller}[doe]", 
					'description': 'Rats Mother',
					'required': 'required',
					'value': rat.doe.id,
					'options': females			
				}%}				
				
			{% endif %}	
				
	
			{% include "Forms/Elements/seperator.html" %}
			
			{% include "Forms/Elements/select.html" with {
				'label' : 'Owner',		
				'id': 'owner', 
				'name': "#{controller}[owner]", 
				'description': 'Owner of this Rat?',
				'value': rat.owner.Id,
				'options': users			
			}%}			

		{% endblock %}
	{% endembed %}
{% endblock %}



