{% extends "base.html" %}

{% block title %}{{ title }}{% endblock %}
{% block page_title %}{{ title }}{% endblock %}
{% block page_subtitle %}{{ description }}{% endblock %}
{% block body %}
	{% include '/Buttons/add-button.html' with {'model': controller} %}
	{% embed "Tables/table-base.html" with {'table_id': controller, 'headers': ["Breeder", "Code", "Birth Date", "Doe", "Sire", "Size", "Options"]	} %}
		{% block table_body %}
			{% for entity in entities %}
			<tr>
			<td data-label="Breeder">{{ entity.breeder.firstName }} {{ entity.breeder.lastName }}</td>
			<td data-label="Code">{% if( entity.code ) %}{{entity.code}}{% else %}None{% endif %}</td>		
			<td data-label="BirthDate">{{ entity.birthDate | date('d/m/Y') }}</td>
			<td data-label="Doe">{{ entity.dam.name }}</td>	
			<td data-label="Sire">{{ entity.sire.name }}</td>
			<td data-label="Size">{{ entity.rats | length }}</td>			
			<td data-label="Options">
				<div class="dropdown">
				  <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
					<i class="fas fa-cogs"></i>
				  </button>
				  <ul class="dropdown-menu">
						{% include '/Buttons/edit-button.html' with {'model': controller, 'id': entity.id} %}
						{% include '/Buttons/delete-button.html' with {'model': controller, 'id': entity.id} %}
						{% include '/Buttons/notes-button.html' with {'modal': entity.id, 'id': entity.id} %}
						{% include '/Buttons/invoice-button.html' with {'model': controller, 'id': entity.id} %}
				  </ul>
				</div>					
			</div>
				{% include '/Modals/notes.html' with {'entity': entity, 'type': 'sale'} %}	
			</td>					
			</tr>
			{% endfor %}
		{% endblock %}
	{% endembed %}
{% endblock %}
