
  <!-- Footer -->
  <footer class="text-center text-white bg-primary">
    <!-- Grid container -->
    <div class="container p-4 pb-0">
      <!-- Section: CTA -->
      <section class="">
        <p class="d-flex justify-content-center align-items-center">
          <span class="me-3">© 2022 Copyright</span>
		  <a class="text-white" target="_blank" href="https://nprs.org.uk">National Pouched Rat Society</a>
        </p>
      </section>
      <!-- Section: CTA -->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-2" style="background-color: rgba(0, 0, 0, 0.2);">
      <small><strong>PRATS Build</strong> {{build}}</small>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->
