@import url('https://fonts.cdnfonts.com/css/cera-round-pro');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

$font-family-base: 'Cera Round Pro', sans-serif;

$transition: all 0.2s ease-in-out; //Transition animation

$color__typo-primary: #4c5159; // Headings and text
$color__border-soft:  rgba(76, 81, 89, 0.15);

$color__brand-primary: #6667ab;
$color__brand-primary--hover: darken(#6667ab, 5%);

/* Colors */
$color__white: #fff;

$color__orange: #f29100;
$color__orange--dark: darken($color__orange, 50%);
$color__orange--light: lighten($color__orange, 45%);

$color__green: #afca0b;
$color__green--dark: darken($color__green, 20%);
$color__green--light: lighten($color__green, 50%);

$color__red: #ea5153;
$color__red--dark: darken($color__red, 50%);
$color__red--light: lighten($color__red, 35%);

$color__blue: #4d94ff;
$color__blue--dark: darken($color__blue, 50%);
$color__blue--light: lighten($color__blue, 23%);

$color__pink: #ec008c;
$color__pink--dark: darken($color__pink, 50%);
$color__pink--light: lighten($color__pink, 50%);

$color__grey: #efefef;
$color__grey--dark: darken($color__grey, 50%);
$color__grey--light: lighten($color__grey, 50%);

$background__danger: rgba(234, 81, 83, 0.2);

$theme-colors: (
    "light":      #c6c3c5,
    "dark":       #000037,
    "primary":    #6667ab,
    "secondary":  #292a54,
    "info":       #17a2b8 ,
    "success":    #28a745 ,
    "warning":    #ffc107 ,
    "danger":     #dc3545 ,
	
);

$table-color: #6667ab;
$nav-link-color: #fff;
$dropdown-link-color: #fff;

