{% extends "base.html" %}

{% block title %}{{ title }}{% endblock %}
{% block page_title %}{{ title }}{% endblock %}
{% block page_subtitle %}{{ description }}{% endblock %}
{% block body %}
	{% embed "Tables/table-base.html" with {'table_id': controller, 'headers': ["","Email Address","Role",""]	} %}
		{% block table_body %}
			{% for entity in entities %}
			<tr>
			<td><img class="rounded-circle me-2" src="{{ entity.getProfileImage }}" width="32px" height="32px"></td>
			<td>{{ entity.email }}</td>		
			<td>{{ entity.userRole.name }}</td>					
			<td>
			{% include '/Buttons/edit-button.html' with {'model': controller, 'id': entity.id} %}
			{% include '/Buttons/delete-button.html' with {'model': controller, 'id': entity.id} %}
			</td>				
			</tr>
			{% endfor %}
		{% endblock %}
	{% endembed %}
{% endblock %}
